
body {
  padding-top: 2rem;
}

h2 {
  font-size: 16px;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
