{% extends "base.html" %}

{% block content %}
<div class="text-center">
<div class="container about-template text-left">
  <h1>{{ _('About the Project') }}</h1>
  <p>{{ _('According to the World Bank, Colombia is one of the most vulnerable countries in the world to natural disasters, with 85 percent of its population and assets exposed to two or more natural hazards.') }}</p>
	<p>{{ _('A very high proportion of the urban population live in slum and slum-like condtitions, increasing the risk of danger.') }}</p>
  <p>{{ _('This tool will help to prevent damage to children, who are the most vulnerable in times of crisis. Their mental and physical health are greatly compromised by the effects of earthquakes, hurricanes and floods.') }}</p>
  <p>{{ _('Use it to see all schools that are a chosen distance away from health facilities.') }}</p>

  <h1>{{ _('The Team') }}</h1>
  <div class="jumbotron aboutteam">
    <div class="row row-eq-height">
      <div class="col-md-6 text-center">
        <div class="teammember-profile">
          <img src="{{ url_for("static", filename="img/amad.jpg") }}" class="img-responsive rounded" style="margin-bottom: 5px;">
          <p class="teammember-name lead">Amad</p>
          <a href="mailto:amad.aslam@arm.com" class="small text-muted">amad.aslam@arm.com</a>
          <div class="meta">
            <p class="small">{{ _('3rd year Computer Science student at University of Manchester, infrastructure intern') }}</p>
          </div>
          <div class="social-links">
            <ul class="list-inline">
              <li class="list-inline-item"><a href="https://amadaslam.com"><i class="fas fa-address-card fa-2x"></i></a></li>
              <li class="list-inline-item"><a href="https://github.com/Amadman"><i class="fab fa-github-square fa-2x"></i></a></li>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="teammember-profile">
          <img src="{{ url_for("static", filename="img/aymen.jpg") }}" class="img-responsive rounded" style="margin-bottom: 5px;">
          <p class="teammember-name lead">Aymen</p>
          <a href="mailto:aymen.qader@arm.com" class="small text-muted">aymen.qader@arm.com</a>
          <div class="meta">
            <p class="small">{{ _('2nd year Computer Science student at University of Southampton, performance libraries intern') }}</p>
          </div>
          <div class="social-links">
            <ul class="list-inline">
              <li class="list-inline-item"><a href="https://aymenq.com"><i class="fas fa-address-card fa-2x"></i></a></li>
              <li class="list-inline-item"><a href="https://github.com/AymenQ"><i class="fab fa-github-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="teammember-profile">
          <img src="{{ url_for("static", filename="img/joe.jpg") }}" class="img-responsive rounded" style="margin-bottom: 5px;">
          <p class="teammember-name lead">Joe</p>
          <a href="mailto:joseph.ellis@arm.com" class="small text-muted">joseph.ellis@arm.com</a>
          <div class="meta">
            <p class="small">{{ _('3rd year Computer Science student at University of Birmingham, compilers intern') }}</p>
          </div>
          <div class="social-links">
            <ul class="list-inline">
              <li class="list-inline-item"><a href="http://joechrisellis.com"><i class="fas fa-address-card fa-2x"></i></a></li>
              <li class="list-inline-item"><a href="https://github.com/joechrisellis"><i class="fab fa-github-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="teammember-profile">
          <img src="{{ url_for("static", filename="img/zainab.jpg") }}" class="img-responsive rounded" style="margin-bottom: 5px;">
          <p class="teammember-name lead">Zainab</p>
          <a href="mailto:zainab.hashmi@arm.com" class="small text-muted">zainab.hashmi@arm.com</a>
          <div class="meta">
            <p class="small">{{ _('2nd year Spanish &amp; Arabic student at University of Edinburgh, technical writing intern') }}</p>
          </div>
          <div class="social-links">
            <ul class="list-inline">
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
