{% extends "base.html" %}

{% block content %}
<div class="starter-template">
  <h1>{{ _('Health Sites in Colombia') }}</h1>
  <p class="lead" style="font-size: 15px;">{{ _('Drag the slider to reveal the schools that lie within a given interval from a health site.') }}</p>
  <div id="map" style="height: 500px"></div>
  <script>
      <!-- var school_file="{{url_for('static', filename='data/schools.json')}}"; -->
      initmap();
  </script>
  <br>
  <div id="slider" class="slider"></div>
  <div id="amount"></div>
  <script>
    $(function() {
      startPos = [0,0.5];
      $("#amount").text(startPos[0] + " - " + startPos[1] + " km");
      $("#slider").slider({
        range: true,
        values: startPos,
        min: 0,
        max: 20,
        step: 0.01,
        slide: function(e, ui) {
          $("#amount").text(ui.values[0] + " - " + ui.values[1] + " km");
        }
      });

      socket.emit('update', {data: startPos});
      $("#slider").on("slidestop", function(event, ui) {
        endPos = ui.values;

        if ((startPos[0] != endPos[0]) || (startPos[1] != endPos[1])) {
            socket.emit('update', {data: endPos});
        }

        startPos = endPos;
      });
    });
  </script>

  <div class="jumbotron text-left">
    <h3>Statistics</h3>
    <ul>
      <li>The mean distance from a school to the nearest health centre is <strong>{{ '%0.2f' % mean_distance|float }}km</strong>.</li>
      <li>The modal distance class is <strong>{{ modal_distance }}km</strong>.</li>
    </ul>
  </div>

</div>
{% endblock %}
