{% extends "base.html" %}

{% block content %}
<div class="starter-template">
  <h1>2018 Arm Intern Challenge</h1>
  <p class="lead">Let's smash it lads</p>
  <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg active" role="button">:)</a>
  <div id="map" style="height: 400px"></div>
  <script>
      <!-- var school_file="{{url_for('static', filename='data/schools.json')}}"; -->
      initmap();
  </script>
  <div id="slider"></div>
  <div id="amount"></div>
  <script>
    $(function() {
      startPos = 200;
      $("#slider").slider({
        value: startPos,
        min: 1,
        max: 1000,
        step: 5,
        slide: function(e, ui) {
          $("#amount").text(ui.value + "km");
        }
      });

      $("#slider").on("slidestop", function(event, ui) {
        endPos = ui.value;

        if (startPos != endPos) {
          socket.emit('update', {data: endPos});
        }

        startPos = endPos;
      });
    });
  </script>

</div>
{% endblock %}
