{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='node_modules/leaflet/dist/leaflet.css')}}">
<script src="{{url_for('static', filename='node_modules/leaflet/dist/leaflet.js')}}"></script>
<script src="{{url_for('static', filename='node_modules/leaflet-ajax/dist/leaflet.ajax.js')}}"></script>
<script src="{{url_for('static', filename='js/leafletembed.js')}}"></script>
<div class="starter-template">
    <h1>2018 Arm Intern Challenge</h1>
    <p class="lead">Let's smash it lads</p>
    <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg active" role="button">:)</a>
    <div id="map" style="height: 400px"></div>
    <script>
      var school_file="{{url_for('static', filename='data/schools.json')}}";
      initmap();
    </script>
</div>
{% endblock %}
